__pycache__/
*.pyc
*.bak
.venv/

telegram_ads_chrome_profile/

data/low-bots.txt
data/low-channel.txt
data/used-bots.txt
data/used-channel.txt
data/pending-bots.txt
data/pending-channel.txt

low.txt
used_bots.txt
pending_bots.txt
checked_bots.txt
/bots.txt
/channels.txt
skipped_channels.txt
checker_*.png
strict_error_*.png

1.txt
macro_events.json
macro_recorder.py
bot_check_coords.json
screen_coords.json
chrome_existing_profile/
